/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 21, 2016, 8:14:38 PM
    Author     : Russ
*/

/*=============== Colors ============*/
$bluegreen:rgb(0, 167, 158);
$hovercolor:rgb(0, 221, 209);
$gray:rgb(167, 169, 172);
$light-gray:(227, 227, 228);

/*=============== Fonts ============*/
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Lalezar';